.landenlijst {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin: 50px 75px;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.meestemensen {
    list-style-type: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding: 0;
    margin: 40px;
    background-color: #FF9933;
}

.meestemensen li {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.top {
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: #804000;
    text-decoration-style: double;
}

.meestemensen p {
    margin: 5px;
    text-align: right;
}

.meestemensen div {
    margin: 5px 15px;
    text-align: left;
}

.gemiddelde {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding: 30px;
}

.gemiddelde button {
    background-color: #FF8C1A;
    color: #331A00;
    font-size: 23px;
    font-family: monospace;
    padding: 5px 15px;
}

.gemiddelde button:hover {
    background-color: #FFE6CC;
    color: #FF8C1A;
}
