body {
    background-color: #FFB366;
    color: #331A00;
    font-size: 20px;      
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin: 20px 10px;
}

button {
    background-color: #663300;
    color: #FF8000;
    font-size: 30px;
    padding: 5px 15px;
}

button:hover {
    background-color: #FF8000;
    color: #663300;
}

#uitleg {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
    color: #804000;
    text-decoration: underline;
}